/*I know this isn't the best design, but to be honest I ran out of time*/
body{
    margin: 0;
    background-color: navy;
    
}
.flex-container{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 1400px;
    height: 150px;
    color: darkgreen;
    text-align: center;
    margin: 0;
    padding: inherit;
}
.flex-container2{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 100px;
    color: darkgreen;  
    text-align: center;
}
.head{
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    align-items: flex-start;
    height: 20px;
    width: 20px;
}
footer{
    background-color: black;
    width: inherit;
    height: 150px;
}
.foot{
    display: flex;
    flex-direction: row;
    
}
.footimg{
    display: flex;
    width: 200px;
    height: 100px;
}
.foot a{
    margin: 10px;
    padding-top: 25px;
    color: ivory;
}
.foot a:hover{
    color: darkolivegreen;
}
.ScoIre{
    float: left;
    margin: 10px;
    width: 400px;
    height: 200px;
    

}
.WalesIre{
    float: right;
    margin: 10px;
    width: 400px;
    height: 200px;

}
.mens, .womens{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    text-indent: 20px;
    
}
.mens{
    background-image: url(pitch.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: darkcyan;
}
.womens{
    background-image: url(w6nations.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: lightskyblue;
    margin: 0;
}

.mailing-list{
    display: flex;
        width: inherit;
        justify-content: center;
        text-align: center;
        background-color: darkslategrey;
        margin: 0;
        padding: 10px;
}
button{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    background-color: darkolivegreen;
    color: crimson;
    border-radius: 50%;
}
button:hover{
    background-color: cadetblue;
    color: khaki;

}
.news{
    width: inherit;
    height: inherit;
    background-image: url(mud.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: cornflowerblue;
    text-indent: 20px;
    margin: 0;
    padding: 50px;
}
table{
    border: 1px solid black;
    text-align: center;
}
thead{
    background-color: burlywood;
    border: 1px solid black;
  

}
tbody{
    background-color: aliceblue;
    border: 1px solid black;
}
.lastimg{
    position: relative;
    left: 175px;
}
.lastimgfoot{
    position: relative;
    left: 875px;
    padding: 10px;
}



